.buttonColor {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}

#buttonColorAll {
  color: #000000;
  background-color: #CC3399;
}

#buttonColorRed {
  background-color: #FF0000;
}

#buttonColorGreen {
  background-color: #00FF00;
}

#buttonColorYellow {
  background-color: #FFFF00;
}

#buttonColorOff {
  background-color: #000000;
}

#buttonConnect {
  margin-top: 10pt;
}

.txt {
  font-weight: bold;
}
